---
// src/pages/index.astro

import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/Card.astro";
---

<!-- profile2.webp you can remove | Photo <a href="https://imgur.com/a/FykhuNt">Unsplash</a>
   -->

<!-- You can replace the card's data with your own here. -->
<BaseLayout title="Personal Card Portfolio Astro" description="Meta description. Here goes your page description. Provide a clear and concise summary of the content.">
	<Card
	  name="Westmoon05"
	  position="Mod Creator"
	  aboutMe={`Hi there! I'm Westmoon05, I make Minecraft mods and modpacks on modrinth add me on discord if you want @westmoon05`}
	  linkedin="https://modrinth.com/user/westmoon05"
	  github="https://github.com/Westmoon07"
	  cvLink="https://discord.gg/tyXhPYsAfx"
	  profileImage="https://imgur.com/a/waruEfP"
	/>
</BaseLayout>
